---
services:
  db:
    image: dbimg
    ports:
      - '3306:3306'

  fr:
    image: frimg
    ports:
      - '5000:5000'
   depends_on:
     - "db"

  book:
    image: bkimg
    ports:
      - '5002:5002'

  borrow:
    image: brimg
    ports:
      - '5003:5003'

  auth:
    image: auimg
    ports:
      - '5001:5001'
